html,
body {
  background-color: #c19dd1;
  width: 50%;
  margin: 0 auto;
  font-family: Arial, Helvetica, sans-serif;
}
.bannerText {
  font-size: small;
  font-style: normal;
  align-content: center;
  float: left;
}

.container {
  width: 360px;
}

#inputFeild {
  width: 300px;
  height: 46px;
  border: 1px solid black;
  outline: none;
  font-size: 25px;
  vertical-align: middle;
}

#addToDo {
  align-self: auto;
  height: 50px;
  width: 50px;
  border: 1px solid black;
  vertical-align: middle;
  font-size: 30px;
}

.to-dos {
  margin-top: 25px;
}
.paragrapgh-styling {
  margin: 0;
  cursor: pointer;
  font-size: 20px;
}
